# --- Configuración de Base de Datos ---
# Ejemplo: Server=localhost;Database=mi_db;User Id=sa;Password=tu_password;
CONNECTION_STRING="Server=db;Database=myapp;User Id=sa;Password=Your_Password123;"

# --- Configuración de la Aplicación ---
APP_URL="http://localhost:8080"

# --- Cloudinary (Media Storage) ---
CLOUDINARY_CLOUD_NAME="tu_cloud_name"
CLOUDINARY_API_KEY="tu_api_key"
CLOUDINARY_API_SECRET="tu_api_secret"

# --- JWT (Authentication) ---
JWT_KEY="Configura_Aqui_Una_Llave_Super_Secreta_Y_Larga_123!"
JWT_ISSUER="CorrePalabrasAPI"
JWT_AUDIENCE="CorrePalabrasApp"