# --- Configuración de Base de Datos ---
# Ejemplo: Server=localhost;Database=mi_db;User Id=sa;Password=tu_password;
CONNECTION_STRING="Server=db;Database=myapp;User Id=sa;Password=Your_Password123;"

# --- Configuración de la Aplicación ---
APP_URL="http://localhost:8080"

# Credenciales para el Synology NAS
SYNOLOGY_BASE_URL=http://IP_DE_TU_NAS:5000
SYNOLOGY_USERNAME=tu_usuario_de_file_station
SYNOLOGY_PASSWORD=tu_contraseña_segura

# --- JWT (Authentication) ---
JWT_KEY="Configura_Aqui_Una_Llave_Super_Secreta_Y_Larga_123!"
JWT_ISSUER="CorrePalabrasAPI"
JWT_AUDIENCE="CorrePalabrasApp"